#photo{ 
position:relative;
margin-top:-372px;
border-radius: 30px;
border:solid black 3px;
height: 180px;
width: 120px;
left:20px;
}

html{
scroll-behavior: smooth;
}

body{
overflow: auto;
}

#fleche{
position:relative;
bottom:1px;
width:100px;
height:100px;
left:408px;
}

.bas_de_page{
position:relative;
bottom:167px;
}

#logo_pc{
width:190px;
height:190px;
position:relative;
left:550px;
bottom:225px;
}

#psg{
width:90px;
height:90px;
position:relative;
left:705px;
bottom:520px;
transition:0.8s;
}

#psg:hover{
width:95px;
height:95px;
position:relative;
left:705px;
bottom:520px;
transition:0.8s;
}

#muscu{
width:90px;
height:90px;
position:relative;
left:615px;
bottom:400px;
transition:0.8s;
}

#muscu:hover{
width:95px;
height:95px;
position:relative;
left:615px;
bottom:400px;
transition:0.8s;
}


#loisir{
z-index:10;
position:relative;
left:1030px;
top:-700px;
}

.divloisir{
position:relative;
top:-766px;
left:1011px;
width:200px;
height:65px;
background-color: rgb(212 230 241);
border-radius:30px;
}

#logo_devops{
position:relative;
top:-420px;
left:589px;
width:360px;
height:260px;
transition:0.8s;
}

#logo_devops:hover{
opacity:40%;
position:relative;
top:-420px;
left:589px;
width:360px;
height:260px;
transition: 0.8s;
}

.bordure{
z-index: -10;
background-color: rgb(36 113 163);
weight: 1000px;
height: 190px;
border-radius:20px;
}

.formation{
position: relative;
left: 30px;
}

.info{
z-index:100;
position: relative;
top: -150px;
border:solid black 3px;
width: 500px;
background-color: rgb(212 230 241);
height:285px;
border-radius:40px;
transition:1.5s;
}

.info:hover {
position: relative;
top: -150px;
border:solid black 3px;
width: 1220px;
background-color: rgb(212 230 241);
height:285px;
border-radius:40px;
transition: 2.5s;
}

.presentation{
position:relative;
left:180px;
top:-190px;
opacity:1;
}

#textdevops{
text-align:center;
position:relative;
top:-250px;
font-size:23px;
color:blue;
}
